.nav_bar
{
    height: 52px;
    width: 100%;
    background:#4C5BD4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav_bar_logo
{
    padding-left: 30px;
    padding-bottom: 12px;
    padding-top:12px;
}
.ul_menu li
{
    margin-right: 28px;
}
.form_question_left
{
    width: 60%;
}
.btn_register:hover
{
    background:#4C5BD4;
    color: #fff;
    transition:0.3s;
}
.somenu_tdn
{
    display: none;
}
.btn_option-account
{
    background: #232F87;
    border-radius: 10px;
    width: 181px;
    height: 34px;
}
.btn_option-account a
{
    line-height: 18.75px;
    padding-top: 7px;
    padding-top: 8px;
    padding-left: 15px;
}
.banner_all
{
    height:605px;
    max-width: 1366px;
    margin:0 auto;
   
    
}
.banner
{
    background: linear-gradient(180deg, #4C5BD4 0%, rgba(76, 91, 212, 0.07) 100%);
}
.img_banner
{
    width: 50%;
}
.img_banner img
{
    width: 100%;
}
.title_banner
{
    width: 50%;
    padding-left: 82px;
}
.title_banner h1
{
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
}
.title_banner p
{
    font-size: 20px;
    line-height:27px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 25px;
}
.btn_banner
{
    padding-left: 25px;
    padding-right: 25px;
    line-height:21px;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 12px;
    border-radius: 60px;
    color: #4C5BD4;
    border:none;
    outline:unset;
    background: #FFFFFF;
    box-shadow: -3px 7px 6px rgba(0, 0, 0, 0.28);
}
.div_title
{
    position: relative;
    margin-bottom: 50px;
}
.div_title h1
{
    margin-bottom: 15px;
    font-size: 28px;
    line-height:40px;
    color: #474747;
}
.Advantages_365
{
    max-width: 1152px;
    margin:0 auto;
    
   
}
.border_title
{
    display:flex;
    justify-content: center;
    position: absolute;
    background: #4C5BD4;
    border-radius: 3px;
    width: 147px;
    height: 4px;
}
.box_gara
{
    padding:50px;
}
.Advantages
{
    padding:50px;
    background: #F7F8FC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.card_advantages
{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width :calc((100%/3) - 30px);
    height:160px;
    padding:15px;
    margin: 15px;
    
}
.card_advantages .icon img
{
    height:50px;
    object-fit: contain;
    width: 50px;
}
.card_advantages .icon
{
    height:80px;
    width: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.content_card
{
    padding-left: 15px;
    width: calc(100% - 80px);
    color: #474747;
    position: relative;
    padding-left: 30px;
}
.content_card h4
{
    font-size:16px;
    line-height:19px;
    padding-bottom: 10px;
    
    font-weight: bold;
}
.content_card a
{
    position:absolute;
    color:#4C5BD4;
    bottom:0px;
    right:0;
    font-size: 15px;
    line-height:18px;
}
.main_advantages
{
    margin-top: 35px;
    justify-content: center;
    flex-wrap: wrap;
}
.content_gara365-left,.content_gara365-right
{
    width: 50%;
    padding:34px
}
.slick-slide
{
    /* margin-right: 20px; */
}
.Gara365,.main_connect_app
{
    max-width: 1366px;
    margin: 0 auto;
}
.content_gara365
{
    margin-top: 52px;
}
.content_gara365-right ul li
{
    list-style:inside;
    line-height:40px;
    font-size:16px;
    color: #474747;
}

.content_gara365-right h4
{
    color:#474747;
    margin-bottom: 31px;
    list-style:inside;
    line-height:28px;
    font-size:24px
}
.connect_app_left
{
    font-weight: bold;
    font-size: 28px;
    line-height: 27px;
    color: #474747;
}
.connect_app_left h4:first-child
{
    margin-bottom: 30px;
}
.connect_app_right img
{
    width: 382px;
    height:165px
}
.main_connect_app
{
    padding-top: 65px;
    padding-bottom: 65px;
}
.connect_app
{
    background: url(../images/Group.jpg)no-repeat;
    background-size: 100% 100%;
}
.main_video
{
    padding:50px;
    max-width: 1366px;
    margin: 0 auto;
}
.iframe
{
    width: 628px;
    height: 353px;
    background: #C4C4C4;
    margin:50px auto
}
.btn_register
{
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #4C5BD4;
    border: 2px solid #4C5BD4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 6px 15px 3px 14px;
}
.form_question
{
    padding:39px 86px;
    background: #EAECFA;
}
.content_cmt
{
    background: #F7F8FC;
    border-radius: 0px 0px 10px 10px;
}
.div_cmt
{
    width: 100%;
    left: 86px;
    top: 3605px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.header_cmt h4
{
    margin-bottom: 5px;
}
.header_cmt p
{
    margin-bottom: 20px;
}
.header_cmt a
{
    color: #4C5BD4;
}
.header_cmt
{
    padding:15px 15px 20px 15px
}
.content_cmt
{
    padding:15px 15px 39px 67px;
}
.content_cmt a
{
    color: #4C5BD4;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.content_cmt p
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.header_cmt h4,.content_cmt h4
{
    color: #474747;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.time
{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #474747;
    margin-top: 5px !important;
}
.header_cmt
{
    font-size: 16px;
    line-height:19px;
    font-weight: 500;
}
.form_search
{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    height:36px;
    /* width: 460px; */
}
.btn_reload_capcha
{
    border:none;
    outline:unset;
    background: #fff
}
.form_search .btn_search
{
    position:absolute;
    right:0;
    background: #4C5BD4;
    border-radius: 0px 10px 10px 0px;
    padding:9px 14px;
    outline:unset;
    border:none;
    height:100%;
    color: #fff
}
.form_search input
{
    width: 100%;
    outline:unset;
    padding:10px 15px;
    height:16px;
    border:none;
    height:100%;
    border-radius:10px
}
.capcha
{
    width: 163px;
    height: 59px;
    left: 1065px;
    top: 4009px;
    margin-right: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 5px;
    padding:16px 26px;
    color: #474747;
}
.form
{
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:20px;
    margin-top: 15px;
}
.form_question_right
{
    width: 40%;
    margin-left: 20px;
}
.form label
{
    margin-bottom: 5px;
}
.form input,.form textarea
{
    padding:10px 15px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
}
.form label
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #474747;
}
button
{
    cursor: pointer;
}
.form h4
{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4C5BD4;
}
.btn_post
{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
    background: #4C5BD4;
    width: 100%;
    outline:unset;
    border:none;
    padding-top: 10px;
    padding-bottom: 11px;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
}
.digital_365
{
    padding: 50px 129px;
}
.digital_365 h4
{
    font-weight: bold;
    font-size:18px;
    line-height:21px;
    color: #474747;
    margin-bottom: 10px;
}
.digital_365 p
{
    font-size:18px;
    color: #474747;
    line-height:21px;
    text-align: justify;
}
.digital_365 h5
{
    margin-top: 15px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #474747;
}
.input_capcha
{
    width: 205px;
}
.ml_20
{
    margin-left: 20px;
}
.li_action_download
{
    width: 181px;
    height: 34px;
    left: 1155px;
    top: 9px;
    background: #232F87;
    border-radius: 10px;
    padding:8px 15px;
}
.li_action_download a
{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

footer.footer {
    width: 100%;
    padding: 67px 76px;
    background: #043379;
}

.footer .footer_box {
    display: flex;
    justify-content: space-between;
}

.footer_box .footer_left,
.footer_box .footer_right {
    width: 50%;
}

.footer_box .footer_left {
    padding-right: 40px;
}

.footer_left .box_footer_left {
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 40px;
}

.left_ttct .dvcq {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.left_ttct .name_company {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 3px;
}

.footer_box .left_ttlh {
    padding: 19px 0px;
}

.left_ttlh .item_ttlh {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 9px;
}

.item_ttlh .text_ttlh {
    padding-left: 8px;
    padding-top: 6px;
}

.item_ttlh .text_ttlh .thep_ttlh {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    color: #FFFFFF;
}
.banner
{
    margin-top: 45px;
}
.left_menu_li .box_left_menu_li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box_left_menu_li .item_left_li {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-top: 12px;
}

.left_menu_li .item_left_li .name_left_li {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 10px;
}

.box_left_menu_li .item_left_li:last-child {
    margin-top: 26px;
}

.box_left_menu_li .item_left_li:last-child img:first-child {
    margin-right: 40px;
}

.footer_right .box_footer_right {
    display: flex;
    justify-content: space-between;
}

.box_footer_right .right_code .title_right_code {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    color: #ffffff;
}

.box_footer_right .right_code .box_img_code {
    display: flex;
    justify-content: space-between;
    padding: 33px 0px;
}
.content_gara365
{
    display:flex;
}
.main_form_question,.digital_365 
{
    max-width:1366px;
    margin: 0 auto;
}
.right_code .box_img_code img {
    /* width: 90%; */
}

.right_code .box_img_code p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}

.right_code .form_btn_downl {
    display: flex;
    flex-direction: column;
}

.form_btn_downl .item_down {
    background: #FFFFFF;
    padding: 19px 23px 19px 62px;
    position: relative;
    border-radius: 62px;
    margin-top: 14px;
}
.form_btn_downl .item_down img {
    position: absolute;
    left: 6px;
    top: 7px;
}
.form-cmt
{
    display:flex;
}
.form_btn_downl .item_down p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

.box_footer_right .right_code,
.box_footer_right .right_img_ct {
    width: 50%;
}

.right_img_ct {
    display: flex;
    justify-content: space-around;
}

.right_img_ct img {
    width: 90%;
    object-fit: contain;
}

.footer .det_l .det_link {
    display: flex;
    margin-top: 20px;
}

.footer .det_l .det_link .font_weight_bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.det_l .det_link .list_det_link {
    display: flex;
}
label.error {
    color: #FF3333 !important;
    font-size: 12px !important;
    line-height: 18px;
    font-style: italic;
    font-weight: 500;
}
.det_l .det_link .list_det_link a {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 23px;
}

.det_l .det_ic {
    margin-top: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.det_l .det_ic p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.det_l .det_ic .link_logo img {
    margin-left: 24px;
}

.list_img_1024 {
    display: none;
}

.display_none{
    display: none;
}


.somenu_tdn{
    display: none;
}
.btn-banner-1024
{
    display:none;
}
/*end*/
.menu-header
{
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
}
.menu-1024
{
    display: none;
}
.d-none
    {
        display:none;
    }
    .d-block
    {
        display:block;
    }
.btn-menu
    {
        display:none
    }

.slick-next {
    right: -15px !important;
}
.slick-prev {
    left: -15px !important;
}
.slick-next, .slick-prev {
    height:36px !important;
    width: 36px !important;
    border-radius: 50% !important;
    background: #FFFFFF !important;
    opacity: 0.86 !important;
    z-index: 10;
}
.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    font-weight: 600 !important;
    color: #4C5BD4 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* ---------------------------------Trang huong dan ---------------------------------- */
.main_instruction {
    width: 100%;
    background: url(../images/huong_dan.jpg)no-repeat;
    background-size: 100% 100%;
}
.box_main_instruction {
    width: 1008px;
    margin: auto;
    padding: 100px 0;
}
.box_main_instruction .title_banner p {
    font-size: 30px;
    line-height: 22px;
}
.download_app_gara365 img, .download_app_gara365_1024 img {
    margin: 5px;
}
.download_app_gara365_1024 {
    display: none;
}
.box_main_instruction .iframe {
    width: 570px;
    height: 320px;
}
.details_menu_instruction {
    background: #F7F8FC;
    padding: 20px 20px 0 20px;
}
.des_menu_instruction {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.show_menu_sidebar {
    width: 280px;
    margin-right: 20px;
}
.show_menu_sidebar .sidebar {
    position: relative;
    height: 589px;
    border-radius: 10px;
}
.box_des_menu_instruction {
    width: 950px;
    margin: auto;
    text-align: justify;
}
.img_instruction {
    width: 100%;
    margin: 20px;
    margin: auto;
}
.img_instruction img {
    width: 70%;
}
.article_details p {
    line-height: 24px;
    text-indent: 24px;
}
.box_main_instruction .title_banner {
    padding-left: 0;
}

.capcha.ml_20.ml_sm_0 {
    user-select: none;
}






/*Responsive*/
@media (max-width: 1366px) {
    .box_des_menu_instruction {
        width: 100%;
    }
}

@media screen and (max-width:1024px)
{
    .form_question_left ,.form_question_right
    {
        width: 100%;
    }
    .div_capcha {
        width: calc(100% - 215px)
    }
    .banner_all
    {
         display: block;
    }
    .title_banner {
        width: 532px;
        margin: 0 auto;
        padding-left: 0;
        padding-top: 55px;
    }
    .title_banner .btn_banner
    {
        display:none
    }
    .input_capcha {
        width: 100%;
    }
    .title_banner p
    {
        text-align: center;
        margin-top: 42px !important;
        margin-bottom: 35px !important;
    }
    .img_banner {
        width: 740px;
        margin:0 auto;
        display: flex;
        justify-content:center;
        margin-bottom: 45px;
    }
    .img_banner img {
        
            width:691px;
            height:570px;
    }
    .text_a_r
    {
        text-align: right;
    }
    .banner
    {
        height:975px
    }
    .btn-banner-1024
    {
        display:flex;
    }
    .nav-hd-menu
    {
        display:none
    }
    .modal-menu
    {
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
    }
    .menu-1024
    {
        position:fixed;
        width: 280px;
        height:100vh;
        background: #4C5BD4;
        top:45px;
        display:block;
        z-index: 10;
        visibility:hidden;
        opacity: 0;
        transition: 0.2s;
    }
    .block
    {
        visibility:visible;
        opacity: 1;
    }
    .nav_bar
    {
        justify-content: center;
        display: block;
        height:45px
    }
    .nav_bar_logo {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .ul_menu
    {
        display:block
    }
    .nav_bar_logo
    {
        display:flex;
        justify-content:center
    }
    .btn-menu
    {
        background:transparent;
        outline:unset;
        border:none;
        position:absolute;
        margin:10px;
        display: block;
    }
    .ul_menu div
    {
        padding:26px 0;
    }
    .menu-1024 .ul_menu img
    {
        padding:0 15px;
    }
    .menu-1024 .ul_menu li
    {
        padding:15px 0;
    }
    .menu-1024 .ul_menu li a
    {
        display:flex;
        align-items: center;
    }
    .card_advantages {
        width: 354px;
    }
    .menu-1024 ul li
    {
        margin-right: 0;
        border-radius: 10px;
    }
    .menu-1024 ul li:hover
    {
        background: #2A38A2;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    }
    .div_title {
        max-width: 710px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .order1
    {
        order:1;
    }
    .order2
    {
        order:2;
    }
    .Gara365, .main_connect_app {
        max-width: 1024px;
        margin: 0 auto;
    }
    .box_gara
    {
        padding:0;
        margin-top: 50px;
    }
    .content_gara365 {
        flex-direction: column-reverse;
        max-width: 625px;
        margin:0 auto;
        margin-bottom: 50px;
    } 
    .content_gara365 h4{
        text-align:center;
        margin-bottom: 20px;
    } 
    .content_gara365-left, .content_gara365-right {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content:center
    }
    .content_gara365-right ul
    {
        width: fit-content;
        margin:0 auto;
        margin-bottom: 30px;
    }
    .connect_app_left {
        font-size: 22px;
        margin-right: 17px;
    }
    .connect_app_left h4:first-child {
        margin-bottom: 20px;
    }
    .connect_app_right {
        width: 370px;
    }
    .main_connect_app
    {
        justify-content: unset !important;
    }
    .align_a_c
    {
        align-items: center;
    }
    .main_connect_app
    {
        padding:30px
    }
    .connect_app_right img {
        width: 100%;
        height: 165px;
    }
    .form-cmt
    {
        flex-direction: column-reverse;
    }
    .form_question_right {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .form_search {
        width: 100%;
    }
    .digital_365 img
    {
        margin-top: 30px;
        width: 668px;
        height: 392px;
    }
    .digital_365 {
        padding: 50px 103px 40px 103px;
    }
    .box_footer_right .right_img_ct {
        width: 100%;
    }
    .footer_box .footer_right {
        width: 30%;
    }
    .footer_box .footer_left {
        width: 70%;
    }
    .box_footer_right .right_code{
        display:none
    }
    .right_img_ct img {
        width: 100%;
        object-fit: contain;
    }
    .item_left_li:last-child
    {
        display:none;
    }
    .det_l .det_link .list_det_link {
        display: flex;
        flex-wrap: wrap;
    }
    
    .det_l .det_link .list_det_link a {
        margin-bottom: 16px;
    }
    .det_link div:first-child
    {
        width: 170px;
    }
    .list_img_1024
    {
        display:block;
        margin-top: 15px;
    }
    .img_12
    {
        display:flex;
        align-items: center;
        
    }
    .img_12 > div
    {
        width: 50%;
    }
    .footer_left .box_footer_left {
        border-bottom:none;
    }
    /* ------------------------------------------------------------- */
    .box_main_instruction {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .title_banner {
        text-align: center;
        width: 100%;
    }
    .download_app_gara365 {
        display: none;
    }
    .box_main_instruction .title_banner {
        padding-top: 0;
    }
    .box_main_instruction .title_banner p:first-child {
        font-weight: 400;
        text-transform: uppercase;
    }
    .box_main_instruction .title_banner p {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        line-height: 40px;
    }
    .download_app_gara365_1024 {
        display: block;
    } 
    .show_menu_sidebar .sidebar, .show_menu_sidebar {
        display: block;
        width: 220px;
        top: 0;
    }
    .menu_sidebar_all p.p_item_sidebar {
        white-space: nowrap;
    }

}
@media screen and (max-width:768px)
{
    .margin_r_20
    {
        margin-right: 20px !important;
    }
    .div_title {
        margin-bottom: 40px;
    }
    .Advantages {
        padding:50px 20px 34px 20px;
    }
    .card_advantages {
        margin: 0px;
        margin-bottom: 20px;
    }
    .card_advantages:last-child {
        margin-bottom: 0px;
    }
    .connect_app_left {
        font-size: 18px;
    }
    .connect_app_left h4:first-child {
        margin-bottom: 14px;
    }
    .connect_app_right img {
        object-fit: contain;
    }
    .main_connect_app {
        padding: 0px 20px;
    }
    .connect_app_right {
        width: 263px;
    }
    .slick-dots li button:before {
        font-size: 32px !important;
        content: "" !important;
        background: #4C5BD4 !important;
        width: 25px !important;
        height: 5px !important;
        border-radius: 3px;
    }
    .slick-dots li button {
        width: 25px !important;
        height: 5px !important;
    }
    .slick-dots li {
        margin: 0 7.5px !important;
    }
    .digital_365 {
        padding: 50px
    }
    .digital_365 img {
        margin-top: 20px;
    }
    footer.footer {
        padding: 25px;
    }
    .left_menu_li
    {
        padding-left: 10px;
    }
    .form_btn_downl .item_down p {
        font-size: 14px;;
    }
    .footer_box .footer_left {
        padding-right: 0px !important;
    }
    .list_det_link
    {
        width: calc(100% - 180px);
    }
    /* -------------------------------------------- */
    .img_instruction img {
        width: 100%;
    }
    .box_main_instruction .iframe {
        width: 510px;
        height: 285px;
    }
        
}

@media (max-width: 540px) {
    .box_main_instruction .title_banner p {
        font-size: 24px;
    }
    .box_main_instruction .iframe {
        width: 310px;
        height: 185px;
    }
    .box_main_instruction  {
        padding: 70px 0;
    }
    .box_main_instruction .iframe {
        margin-top: 30px;
    }
    .details_menu_instruction  {
        flex-wrap: wrap;
    }
    .show_menu_sidebar, .show_menu_sidebar .sidebar, .des_menu_instruction {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .article_details p {
        font-size: 14px;
    }
    .details_menu_instruction .show_menu_sidebar ul.ul_sidebar {
        height: auto;
    }
    .font_s20 {
        font-size: 16px;
    }

    
}

@media screen and (max-width:480px)
{
    .title_banner {
        width: 100%;
        text-align:center;
        padding-top: 30px;
    }
    .title_banner h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 46.88px;
    }
    .title_banner p {
        font-size: 16px;
        padding:0 10px;
        margin:9px 0px !important;
    }
    .img_banner {
        width: 100%;
    }
    .img_banner img {
        width: 100%;
        height: auto;
    }
    .banner {
        height: 730px;
        padding-bottom: 50px;
    }
    .div_title h1 {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 23px;
        color: #474747;
    }
    .Advantages {
        padding: 30px 10px 34px 10px;
    }
    .div_title {
        margin-bottom: 20px;
    }
    .card_advantages {
        margin-right: 0px !important;
        margin-bottom: 20px;
    }
    .content_gara365 h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: justify;
    }
    .content_gara365 {
        padding:10px 20px;
    }
    .content_gara365 img
    {
        width: 100%;
    }
    .main_connect_app
    {
        display:block
    }
    .connect_app_right {
        width: 100%;
    }
    .connect_app_right img {
        width: 100%;
    }
    .connect_app_left h4 {
        text-align: center;
    }
    .main_connect_app {
        padding:20px 12px;
    }
    .connect_app_left h4:first-child {
        width: 264px;
        margin: 0 auto;
        margin-bottom:15px
    }
    .connect_app_left {
        text-align: center;
        font-size: 22px;
        margin-right: 0px;
    }
    .connect_app_left {
        font-size: 18px;
        margin-right: 0px;
    }
    .main_video {
        padding: 50px 20px;
    }
    .iframe {
        width: 100%;
        height: 353px;
        background: #C4C4C4;
        margin: 30px auto;
    }
    .btn_register {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #4C5BD4;
        border: 2px solid #4C5BD4;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 6px 15px 3px 14px;
    }
    .form_question {
        padding: 15px 10px;
        background: #EAECFA;
    }
    .div_title h1 {
        margin-bottom: 6px;
    }
    .flex_sm_column
    {
        flex-direction: column-reverse;
    }
    .title-capcha
    {
        order:1;
    }
    .ml_sm_0
    {
        margin-left: 0;
    }
    .capcha,.header_cmt p
    {
        margin-bottom: 10px;
    }
    .input_capcha {
        width: 100%;
    }
    .form_question_right {
        margin-bottom: 20px;
    }
    .content_cmt {
        padding: 15px
    }
    .content_cmt p {
        text-overflow: hidden;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        display:-webkit-box;
        margin-bottom: 10px;
    }
    .digital_365 {
        padding:30px 15px;
    }
    .digital_365 img {
        margin-top: 30px;
        width: 100%;
        height: auto
    }
    .footer .footer_box {
        display: block;
    }
    .footer_box .footer_left {
        width: 100%;
    }
    .left_ttct .name_company {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        margin-top: 3px;
    }
    footer.footer {
        padding: 25px 15px;
    }
    .footer_box .left_ttlh {
        border-bottom: 1px dotted #fff;
        padding-bottom: 0;
    }
    .img_12 {
        display: block;
    }
    .footer .det_l .det_link {
        display: block;
        border-bottom: 1px dotted #fff;
    }
    .list_det_link {
        width:100%;
        margin-top: 10px;
    }
    .det_l .det_link .list_det_link a {
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-left: 0px;
        margin-right: 23px;
    }
    .img_red_yel
    {
        display:flex
    }
    .det_l .det_ic {
        margin-top: 17px;
        display: block;
    }
    .link_logo
    {
        margin-top: 10px;
    }
    .det_l .det_ic .link_logo img {
        margin-left: 0;
        margin-right: 24px;
    }
    .footer_right
    {
        display:none;
    }
    .img3
    {
        display:block;
        width: 27%;
    }
    .img_12 > div {
        width: 100%;
    }
    .div_capcha {
        width: 100%
    }
    .img3 img
    {
        width: 100%;
    }
    .list_img_1024
    {
        display:flex;
        justify-content:space-between
    }
    .form_btn_downl .item_down {
        background: #FFFFFF;
        padding: 19px 10px 19px 62px;
        position: relative;
        border-radius: 62px;
        margin-top: 14px;
    }
    .img_red_yel img
    {
        width: 80%;
    }
    .d-sm-none
    {
        display:none;
    }
    .d-sm-block
    {
        display:block;
    }
}
@media screen and (max-width:375px)
{
    .banner {
        height: auto;
    }
    
}